body{
    background-color: rgb(255, 235, 216);
    font-family: 'Comfortaa', sans-serif;
}

nav{
    display: flex;
    justify-content:right;
    background-color: rgb(199, 220, 167);
    font-size: 25x;
    /* prueba */
    
}
#logo{
    width: 100px;
}
footer{
    padding: 40px;
    background-color: rgb(199, 220, 167);
    text-align: right;
    font-size: 25x;
    margin-bottom: 0px;
}
nav ul{
    padding-right: 0px;
}
nav ul li {
    display: inline;
    margin-right: 10px; 
}


nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color:FFEBD8;
}

/* Estilos de la pagina dulces */
.box-main-recetas {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box-contenido-recetas {
    display: flex;
    
}

.box-filtro-recetas {
    
   
}

.box-tarjetas-recetas {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

.tarjeta-receta {
    width: 288px;
    height: 250px;
    margin: 7px;
    overflow: hidden;
}

.img-receta {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-receta:hover {
    cursor: pointer;
}

.descripcion-receta {
    padding: 6px;
    position: sticky;
    background: rgb(27, 27, 27, .5);
    width: 288px;
    color: white;
    bottom: 0;
    height: 70px;
}

.descripcion-receta h1 {
    margin: 10px;
    font-size: 40px;

}

.descripcion-receta p {
    margin: 20px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}

.tarjeta-receta:hover .descripcion-receta {
    height: 251px;
    bottom: 0;
    background: black/0.5;
    transition: 0.5s;
    cursor: pointer;
} 

.tarjeta-receta:hover .descripcion-receta p {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.tarjeta-receta:hover img {
    transform: scale(1.2);
    transition: 0.5s;
}
