body{
    background-color: rgb(255, 235, 216);
    font-family: 'Comfortaa', sans-serif;
}

nav{
    display: flex;
    justify-content:right;
    background-color: rgb(199, 220, 167);
    font-size: 25x;
    /* prueba */
    
}
#logo{
    width: 100px;
}
footer{
    padding: 40px;
    background-color: rgb(199, 220, 167);
    text-align: right;
    font-size: 25x;
    margin-bottom: 0px;
}
nav ul{
    padding-right: 0px;
}
nav ul li {
    display: inline;
    margin-right: 10px; 
}


nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color:FFEBD8;
}

/************** Estilos de la pagina dulces **************/

.box-main-recetas {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box-encabezado-recetas {
    margin-bottom: 60px;
}

.encabezado-recetas {
    margin-bottom: 8px;
}

.box-contenido-recetas {
    display: flex;
}

.box-filtro-recetas {
    width: 211px;
}

.label-filtro-recetas#label-buscar-recetas{
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 18px;
}

#input-buscar-recetas{
    width: 100%;
    padding: 5px;
    border-color: #C7DCA7;
    border-style: solid;
    border-width: 2px;
    outline: none;
}

.label-filtro-recetas#label-tiempo-preparacion {
    margin-top: 33px;
}

.label-filtro-recetas{
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight:900;
}

.box-min-preparacion{
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.btn-min-preparacion{
    width: 43px;
    height: 43px;
    font-size: 14px;
    border-color: #C7DCA7;
    border-style: groove;
    background-color: white;
}

.btn-min-preparacion:active, .btn-filtro-recetas:active{
    background-color: #C7DCA7;
}

.select-filtro-recetas{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    outline: none;
}

.box-btn-filtro-recetas{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.btn-filtro-recetas{
    width:95px;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    border-color: #C7DCA7;
    border-style:groove;
    background-color: white;
}

.box-tarjetas-recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-receta {
    width: 288px;
    height: 250px;
    margin: 7px;
    overflow: hidden;
}

.img-receta {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-receta:hover {
    cursor: pointer;
}

.descripcion-receta {
    padding: 6px;
    position: sticky;
    background: rgb(27, 27, 27, .5);
    width: 288px;
    color: white;
    bottom: 0;
    height: 70px;
}

.descripcion-receta p {
    margin: 5px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
}

.tarjeta-receta:hover .descripcion-receta {
    height: 251px;
    bottom: 0;
    background: black/0.5;
    transition: 0.5s;
    cursor: pointer;
} 

.tarjeta-receta:hover .descripcion-receta p {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.tarjeta-receta:hover img {
    transform: scale(1.2);
    transition: 0.5s;
}

/****************************************************************************/