/* ESTILOS DE LA PAGINA DE INICIO */

/* IMAGEN PRINCIPAL */
.container {
    position: relative;
    display: inline-block; 
    margin-top: 20px; 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
}

.background-image {
    display: block;
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}

.overlay-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ffffff; 
    border-radius: 10px; 
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    transition: transform 0.6s ease, width 0.6s ease, height 0.6s ease; 
}

.overlay-box h3, .overlay-box h4 {
    width: 100%;
    margin: 0; 
    position: relative; 
}

.overlay-box h3 {
    font-size: 15px;
    top: 20px; 
    transform: translateY(-50%);
    font-weight: bold;
}

.overlay-box h4 {
    font-size: 10px;
    top: 25px; 
    transform: translateY(-50%);
}


.overlay-box:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Agranda el cuadro */
}


.titulosPaginaPrincipal{
    margin-top: 5px;
    text-align: left;
    margin-left: 10px;
    display: block;
}

/* Estilos del footer */
.columna {
    flex: 1 1 100%; 
    margin-right: 0;
  }
  h3 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    text-decoration: none;
    color: black;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  p {
    text-align: center;
  }
  
  #logoFooter {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen */
    
  }
  

body{
    background-color: rgb(255, 235, 216);
    font-family: 'Comfortaa', sans-serif;
}

nav{
    display: flex;
    justify-content:right;
    background-color: rgb(199, 220, 167);
    
}
#logo{
    width: 50px;
}

.fila{
    display: flex;
    padding-top: 10px;
}

footer{
    font-size: 10px;
    background-color: rgb(199, 220, 167);
    text-align: right;
    
}
footer h4, footer h5{
    font-size: 12px;
}

nav{
    font-size: 10px;
}
nav ul{
    padding-right: 0px;
}
nav ul li {
    display: inline;
    margin-right: 8px; 
}


nav ul li a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color:FFEBD8;
}

/************** Estilos de la pagina dulces **************/

.box-main-recetas {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box-encabezado-recetas {
    margin-bottom: 60px;
}

.encabezado-recetas {
    margin-bottom: 8px;
}

.box-contenido-recetas {
    display: flex;
}

.box-filtro-recetas {
    width: 211px;
}

.label-filtro-recetas#label-buscar-recetas{
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 18px;
}

#input-buscar-recetas{
    width: 100%;
    padding: 5px;
    border-color: #C7DCA7;
    border-style: solid;
    border-width: 2px;
    outline: none;
}

.label-filtro-recetas#label-tiempo-preparacion {
    margin-top: 33px;
}

.label-filtro-recetas{
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight:900;
}

.box-min-preparacion{
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.btn-min-preparacion{
    width: 43px;
    height: 43px;
    font-size: 14px;
    border-color: #C7DCA7;
    border-style: groove;
    background-color: white;
}

.btn-min-preparacion:active, .btn-filtro-recetas:active{
    background-color: #C7DCA7;
}

.select-filtro-recetas{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    outline: none;
}

.box-btn-filtro-recetas{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.btn-filtro-recetas{
    width:95px;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    border-color: #C7DCA7;
    border-style:groove;
    background-color: white;
}

.box-tarjetas-recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-tarjetas-recetas a {
   text-decoration: none;
}
.tarjeta-receta {
    width: 288px;
    height: 250px;
    margin: 7px;
    overflow: hidden;
}

.img-receta {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-receta:hover {
    cursor: pointer;
}

.descripcion-receta {
    padding: 6px;
    position: sticky;
    background: rgb(27, 27, 27, .5);
    width: 288px;
    color: white;
    bottom: 0;
    height: 70px;
}

.descripcion-receta p {
    margin: 5px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
}

.tarjeta-receta:hover .descripcion-receta {
    height: 251px;
    bottom: 0;
    background: black/0.5;
    transition: 0.5s;
    cursor: pointer;
} 

.tarjeta-receta:hover .descripcion-receta p {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.tarjeta-receta:hover img {
    transform: scale(1.2);
    transition: 0.5s;
}

/****************************************************************************/

/* Estilos para cada receta */
.hero-receta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px;
    height: 70vh;
    border: #C7DCA7 solid 2px;

}

.hero-receta--titulo {
    padding: 20px 30px;
    background-color: rgba(199, 220, 167, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.hero-receta--titulo p {
    text-align: left;
}

.hero-receta--imagen {
    position: relative;
    height: 70vh;
    display: flex;
    transition: 0.5s;
}

.hero-receta--imagen img {
    width: 100vh;
    height: 70vh;
    object-fit: cover;
    z-index: 10;
}

.boton-receta {
    position: absolute;
    z-index: 20;
    margin-top: 55%;
    margin-left: 40%;
    display: flex;
    font-size: 14px;
    font-weight: 900;
    color: #1b1b1b;
    background-color: rgba(199, 220, 167, 0.6);
    padding: 12px;
    text-transform: uppercase;
    width: 230px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.boton-receta svg {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.boton-receta:hover {
    cursor: pointer;
    background-color: #C7DCA7;
    transition: 0.5s;
    transform: scale(1.1);
}

.preparacion-receta {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 60px;
    gap: 20px;
    height: 70vh;
    

}
.preparacion-receta--ingredientes {
    display: grid;
    margin-top: 25px;
    padding: 15px;
    border: #C7DCA7 solid 3px;
    border-radius: 20px;
}

.preparacion-receta--ingredientes h2 {
    margin-bottom: 0;
}

.preparacion-receta--preparacion {
    display: grid;
    margin-top: 25px;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 2px solid #C7DCA7;  
}

td {
    padding-top: 10px;
    padding-left: 10px;
}


.preparacion-receta--preparacion p {
    text-align: left;
  

}



/* Media queries de las recetas individuales */

@media (max-width: 768px) {
    .hero-receta {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .hero-receta--imagen img{
        height: 400px;
        width: 570px;
        object-fit: cover;
    }
    .boton-receta {
        margin-top: 10%;
        margin-left: 30%;
    }
    .preparacion-receta {
        
        display: grid;
        grid-template-columns: 1fr;
        height: 150vh;
    }
}
/* Media queries de la página de inicio */

@media (min-width: 768px) {
    
    .overlay-box {
        width: 90%;
        height: 30%;
    }
    
    
    .overlay-box h3 {
        font-size: 25px;
        top: 20px; 
        transform: translateY(-50%);
        font-weight: bold;
    }
    
    .overlay-box h4 {
        font-size: 15px;
        top: 25px; 
        transform: translateY(-50%);
    }
    
    
    .overlay-box:hover {
        transform: translate(-50%, -50%) scale(1.1); /* Agranda el cuadro */
    }
    
    
    .titulosPaginaPrincipal{
        margin-top: 5px;
        text-align: left;
        margin-left: 10px;
        font-size: 20px;
    }
    
    /* Estilos del footer */
    .columna {
        font-size: 19px;
      }
      footer h4, footer h5{
        font-size: 2px;
    }
        
}

@media (min-width: 1024px) {
    main{
        margin-bottom: 20px;
    }
    nav{
     font-size: 20px;   
    }
      footer h4, footer h5{
        font-size: 20px;
    }
        
    .preparacion-receta {
        
        display: grid;
        grid-template-columns: 1fr;
        height: 150vh;
    }  
}

/* ********************************************************************** */
/* Estilo para Contacto*/


#form-contacto{
    align-items: center;
    box-sizing: border-box;
    background-color: #FFEBD8;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 1.8em;
    color: black;
    justify-content: center;
}

.input-grupo > input, select{
    padding: 4.5px;
    margin: 5px;
    width: 100%;
    font-size: 1em;
}

.input-radio{
    margin: 20px;
    
} 

.grupo{
    background-color: #C7DCA7;
    padding: 2em;
}

textarea{
    width: 100%;
    resize: none;
    height: 100%;
}
